@font-face{
    font-family: conopee;
    src:url(./conopee.ttf);
}
@font-face{
    font-family: domain;
    src:url(./domain.ttf);
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
html,body{
    height: 100%;
    width:100%;
}
#main{
    background-color: #C1B9B0;
    overflow-x:hidden;
}
#page1{
    /* min-height:110vh; */
    width:100vw;
    background-color:#C1B9B0;
    position:relative;
    overflow-x: hidden !important;
}
#nav{
    height:110px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px;
    border-bottom: 1px solid #222;
}
#nav img{
    height:30px;
    width:30%;
}
#nav h5{
    font-size:20px;
    font-weight: 100;
    width:30%;
}
#nav i{
    width:30%;
    text-align: right;
}
#elems{
    /* height:430px; */
    height:auto;
    /* background-color:red; */
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:40px 60px;
}
#elem1{
    width:30%;
    height:100%;
    /* background-color:blue; */
}
#elem2{
    width:30%;
    height:100%;
    /* background-color:blue; */
    border-right:1px solid #a5a5a5;
    border-left:1px solid #a5a5a5;
    padding:20px 30px;
    text-align: center;
}
#elem3{
    width:30%;
    height:100%;
    /* background-color:blue; */
}
#elem1 #image-div{
    height:60%;
    width:100%;
    overflow:hidden;
}
#elem3 #image-div{
    height:60%;
    width:100%;
    overflow:hidden;
}
#image-div img{
    height:100%;
    width:100%;
    object-fit: cover;
    transition:all ease 0.5s;
}
#image-div:hover img{
    scale:1.1;
}
#elem1 h4{
    font-size:24px;
    margin-top:10px;
    margin-bottom:20px;
    font-family:conopee;
}
#elem1 h4 span{
    background-color: #B63B12;
    color:#C4BCB3;
    font-weight:100;
    font-size:18px;
    padding:4px;
    border-radius:5px;
    margin-left:10px;
}
#elem1 p{
    font-size:22px;
    font-family: domain;
    font-weight:100;
    color:#656565
}
#elem3 h4{
    font-size:24px;
    margin-top:10px;
    margin-bottom:20px;
    font-family:conopee;
}
#elem3 h4 span{
    background-color: #B63B12;
    color:#C4BCB3;
    font-weight:100;
    font-size:18px;
    padding:4px;
    border-radius:5px;
    margin-left:10px;
}
#elem3 p{
    font-size:22px;
    font-family: domain;
    font-weight:100;
    color:#656565
}
#elem2 h2{
    font-family: canopee;
    font-size:35px;
    font-weight:100;
}
#elem2 h3{
    font-family:domain;
    font-size:50px;
    font-weight:100;
    color:#5f5959;
    margin:10px 0px;
}
#elem2 h6{
    font-family:domain;
    font-size:20px;
    color:#2f2f2f;
}
#page1 h1{
    font-size:150px;
    font-family: canopee;
    font-weight: 100;
    background-color:#1C1C1A;
    color:#C5BDB4;
    text-align: center;
    line-height: 200px;
    width:94%;
    margin-left:2%;
    margin-top:20px;
}
#page2{
    height:150vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:90px 28px;
}
#page2-left{
    height:100%;
    width:35%;
    /* background-color:red; */
    padding-right:40px;
    border-right:1px solid #a5a5a5;
}
#page2-left h2{
    font-size:80px;
    font-family: canopee;
    /* text-align:center; */
    line-height: 80px;
    font-weight:100;
}
#page2-left h2 span{
    font-size:100px;
    font-weight: 900;
}
#page2-left img{
    height:50%;
    width:100%;
    object-fit: cover;
}
#page2-left p{
    font-size:30px;
    font-family: domain;
    color:#2f2f2f;
    margin-top:20px;
}
#page2-right{
    height:100%;
    width:70%;
    padding:0px 60px;
}
#page2-right img{
    height:50%;
    width:100%;
    object-fit: cover;
}
#page2-right h2{
    font-family: canopee;
    font-size:50px;
    letter-spacing:-1px;
    font-weight: 100px;
    margin-top:20px;
}
#page3{
   /* padding-bottom:100px; */
    position:relative;
}
#page3 h1{
    font-size:300px;
    font-family: canopee;
    background-color: #1C1C1A;
    color:#C4BCB3;
   width:fit-content;
    font-weight:100;
    letter-spacing: -10px;
    margin-left:2%;
    padding:20px 20px;
    line-height: 180px;
}
#page3 img{
    position: absolute;
    right:3%;
    top:0;
    height:100%;

}
#page4{
    /* height:100vh; */
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
#page4-left{
    width:65%;
    height:100%;
    padding:40px 30px;
}
#page4-left img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
#page4-right{
    width:35%;
    height:100%;
    padding:40px 30px;
}
#page4-right p{
    font-size:25px;
    font-family: domain;
    font-weight: 100;
    color: #2f2f2f;
    margin-bottom:80px;
    line-height: 30px;
}
#page4-right #page-anda{
    height:150px;
    width:100%;
    border-radius:50%;
    background-color:#C9C0B6;
    border:1px solid #222;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        overflow:hidden;
}
#page-anda h1{
    font-size:50px;
    font-family: canopee;
    width:100%;
    height:100%;
    /* background-color:red;  */
    display:flex;
    align-items: center;
    justify-content: center;
    transform:translateX(-26%);  
    transition:all ease 0.6s; 
   
}
#page-anda img{
    height:50px;
    transform:translateX(-120%);
    transition:all ease 0.6s; 
}
#page-anda:hover img{
    transform:translateX(70%);
}
#page-anda:hover h1{
    transform:translateX(140%);
}
#page5{
   padding:25px 0px;
    width:100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #222;
    border-bottom:1px solid #222;
}
#page5::-webkit-scrollbar{
    display: none;
}
#page5 h1{
    font-size:80px;
    font-family: domain;
    font-weight:100;
    display:inline-block;
    margin-right:20px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page5 h1 span{
    font-family: canopee;
    background-color: #2f2f2f;
    color: #C4BCB3;
    padding:0 12px; 
}
#page6{
    padding:30px 0px;
    width:100%;
    height:100px;
}
#page2-left p::first-letter {
    /* font-family: "Canopee", sans-serif; */
    font-feature-settings: "ss03";
    float: left;
    font-size: 7vw;
    line-height: 5vw;
    margin: .7vw 1vw 1vw 0vw;
    /* background-color: #1D1D1B; */
    /* color: #CDC6BE; */
    padding: .75vw .4vw .5vw .5vw;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 24px));

    }
}
#page5:hover h1{
    animation-play-state: paused;
}
#page4inside{
    display:flex;
    flex-direction:row;
    margin:20px 0px 40px 0px;
}
.upcoming, .unexpected{
    width:50%;
}
.upcoming h1{
    font-size:50px;
    font-family:domain;
}
.upcoming  h4{
    font-size:40px;
    font-family: conopee;
    font-weight:100;
    margin-top:15px;
}
.upcoming h5{
    font-size:20px;
    font-family:domain;
    font-weight:100;
    margin-top:15px;
}
.upcoming{
    border-right:1px solid #a5a5a5;
    /* padding:20px 0px; */
    margin:0px 20px 0px 0px;
}
.unexpected{
    margin:0px 20px 0px 0px;
}
.unexpected h1{
    font-size:30px;
    font-family: conopee;
    font-weight: 100;
    margin-top:15px;
}
.unexpected p{
    font-size:18px;
    font-family:domain;
    margin-top:15px;
}
.unexpected div{
    overflow:hidden;
    height:60%;
  
}
.unexpected div img{
    transition: all ease 0.5s;
    /* object-fit: cover; */
    height:100%;
}
.unexpected div:hover img{
    scale:1.1;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    #elem1 p,#elem3 p ,#page2-left p,#page4-right p{
        font-size: 18px;
    }
    #elem2 h2 {
        font-size: 22px;
    }
    #elem2 h3 {
        font-size: 20px;
    }
    #page2 {
        height:125vh;
    }
    #page2-left h2 {
        font-size: 54px;
        line-height: 52px;
    }
    #page2-left h2 span {
        font-size: 75px;
    }
    #page2-left img {
        height:auto;
        margin-top:20px;
    }
    #page2-right img,#page4-left img{
        height:auto;
    }
    #page2-right h2{
        font-size: 26px;
    }
    #page3 h1{
        font-size: 170px;
    }
    #page4 {
        height: auto;
        align-items: start;
    }
    #page-anda h1 {
        font-size:35px;
        transform: translateX(-34%);
  }
  #page4-right p {
    margin-bottom: 30px;
  }
  #page4-right #page-anda {
    height: 100px;
  }
  #page-anda:hover img {
    transform: translateX(54%);
}
#page-anda img {
    height: 30px;
}
#elems{
    padding: 40px 25px;
}
.unexpected div{
    height:auto;
}
.upcoming h1 {
    font-size: 30px;
}
.upcoming h4 {
    font-size: 20px;
}
.upcoming h5 {
    font-size: 18px;
}
}
@media only screen and (max-width: 576px) {
    #elems,#page2,#page4{
      flex-direction: column;
    }
    #elem1,#elem2,#elem3,#page2-right,#page4-left,#page4-right{
        width:100%;
    }
    #elems{
        padding: 40px 25px;
    }
    #elem2 h2 {
        font-size: 30px;
    }
    #elem2 h3 {
        font-size: 25px;
    }
    #elem2,#elem3{
        margin-top: 20px;
    }
    
    #page1 h1 {
        font-size: 50px;
        line-height: 100px;
}
#page2-left{
    width: 100%;
    padding-right: 0px;
    border-right:none;
}
#page2{
    padding: 45px 28px;
}
#page2-left h2 {
    font-size: 70px;
}
#page2-right {
    margin-top:65px;
    padding:0px;
}
#page2-right h2 {
    font-size: 25px;
}
#page3 {
    margin-top: 350px;
}
#page3 h1{
    font-size:85px;
    line-height: 80px;
}
#page4{
    height:auto;
}
#page4-right{
    padding: 0px 30px;
}
#page4-right #page-anda{
    height: 125px;
}
#page-anda h1{
    font-size: 25px;
    transform: translateX(-36%);
}
#page-anda img {
    height: 40px;
}
#page-anda:hover img {
    transform: translateX(68%);
}
#page4-right p {
    margin-bottom: 50px;
} 
#page5 h1 {
    font-size: 40px;
}
#page5{
    margin-top:20px;
}
#page4inside{
    flex-direction:column;
}
.upcoming,.unexpected {
    width:100%;
    border:none;
}
.unexpected{
    margin-top:20px;
}
  }
  @media only screen and (max-width: 320px) {
    #page2-left h2 {
        font-size: 60px;
    }
    #page2-left h2 span {
        font-size: 80px;
    }
    #page2-left img{
        height:auto;
        margin-top:25px;
    }
    #page2-left p {
        font-size: 22px;
    }
    #page2-right {
        margin-top: 40px;
    }
    #page2-right h2 {
        font-size: 21px;
    }
    #page3 {
        margin-top: 250px;
    }
    #page3 h1 {
        font-size: 50px;
        line-height: 46px;
        margin-left: 8%;
        letter-spacing: -3px;
    }
    #page3 img {
        position: absolute;
        right: 10%;
    }
    #page-anda h1 {
        transform: translateX(-50%);
    }
    #page-anda img {
        height: 35px;
    }

  }